body {
    background-image: url("2.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.close-btn {
    top: 10%;
    right: 10%;
    color: red;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    position: absolute;
}

.body2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    float: right;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width:150px;
    margin-left:20px;
    margin-right: 20px;
    height: 350px;
}

input[type="number"] {
    padding: 5px;
    margin-bottom: 10px

}

input[type="submit"] {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.container2 {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    width:150px;
    height: 350px;
    position: relative;
    color: green;
}

.container3 {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    width:150px;
    height: 350px;
    color: green;
    overflow: hidden;
}

.container3 img {
    width: 150px;
    height: 130px;
}
#copyright{

    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    color:black;
}

#Dados{
    color: black;
    font-weight: bold;

}
.T1{

    color: green;
}

#calculateForm{

    font-weight: bold;
}
#pf{
    width: 180px;
    height: 30px;
    border: 1px solid #999;
    font-size: 18px;
    color: green;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 4px 4px #ccc;
    margin-bottom: 10px;
}
#pe{
    width: 180px;
    height: 30px;
    border: 1px solid #999;
    font-size: 18px;
    color: green;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 4px 4px #ccc;
}
#demand{
    width: 180px;
    height: 20px;
    border: 1px solid #999;
    font-size: 18px;
    color: green;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 4px 4px #ccc;
}
